<article class="article">
    <header class="header jumbotron">
        <div class="container">
            <h1>Kelkoo (a Yahoo! company)</h1>
            <p>June 2004 to October 2009 (5 Years and 5 Months)</p>
        </div>
    </header>
    <section class="section">
        <div class="container"> 
            <h2>Suggest as you Type (2007)</h2>
            <p>Yahoo! Hackday provided an opportunity for me to push a very useful feature. Inspired by the likes of Google and Yahoo! Search I wanted to help users identify the words and phrases to search for that would yield the best and most relevant results. I came up with a solution that would allow users to make informed decisions on what to search for, as well as suggesting related areas of the web site that werent normally accessible from the search form. It allowed the users to get a more complete picture of what we were offering, and not just product listings in search. "Suggest as you type" as presented at Yahoo! Hackday in London 2007:</p>
            <p class="text-center"><img src="kelkoo-suggest-as-you-type.jpg" width="950" height="440" alt="Kelkoo suggest as you type" class="img-responsive img-thumbnail" /></p>
            <p>Kelkoo decided to implement a similiar feature in 2008. <a href="http://www.kelkoo.co.uk/" rel="nofollow">try it out...</a></p>
        </div>        
    </section>
    <section class="section">
        <div class="container"> 
            <h2>Kelkoo Developer Network (2007)</h2>
            <p>When we released the Kelkoo eCommerce Services API in 2006 we wanted to leverage the existing developer network in Yahoo! and we wanted a place for developers to learn about and try our new web services platform. We released our API documentation on the Yahoo! Developer Network, and we developed a simple method for developers to try out the API without needing to write any code. The 'Request Builder' allowed the developer to query the API by using a web form that adapted to each individual API function, allowing the developer to easily send requests to the API and view the responses. Similiar features have later been implemented by sites like Facebook and Twitter.</p>
            <p class="text-center"><img src="kelkoo-developer-network.jpg" width="950" height="700" alt="Kelkoo developer network" class="img-responsive img-thumbnail" /></p>
            <p><a href="http://developer.kelkoo.com/" rel="nofollow">developer.kelkoo.com</a> after Kelkoo was sold off to private investors in 2009, but the original version can still be found via the <a href="http://web.archive.org/web/20070718034552/developer.yahoo.com/kelkoo/request.html">Way Back Machine</a></p>
        </div>        
    </section>
</article>