article.acticle
  header.header
    .container
      h1= title
      p.lead= description

  section.section
    .container
      .thoughts
        each thought in thoughts
          .thought
            h2= thought.abstract
            p.small= thought.byline + ' on ' + thought.added 