<article class="article">
    <header class="header jumbotron">
        <div class="container">
            <h1>Jobzonen</h1>
            <p clas="lead">May 2011 to December 2012 (1 year and 8 months)</p>
        </div>
    </header>
    <section class="section">
        <div class="container">    
            <h2>Website</h2>
            <p>I developed a new website for <a href="http://www.jobzonen.dk">Jobzonen</a>.</p>
            <p class="text-center"><img src="jobzonen-website.jpg" width="1056" height="851" alt="Jobzonen website" class="img-responsive img-thumbnail" /></p>
        </div>
    </section>
</article>