<div class="container" ng-app="hostTestApp" ng-controller="IndexController as indexController">
	<h1>Sikkerhed hos folketingets partier</h1>
	<p class="lead">Test af sikkerheden på folketingets partiers hjemmesider.</p>
	<hr />
	<h4>Testen afdækker følgende punkter:</h4>
	<ol>
		<li>Kan der skabes en sikker forbindelse til hjemmesiden. <small class="text-muted">(https)</small></li>
		<li>Kan hjemmesidens sikkerhedscertifikat verificeres <small class="text-muted">(ssl certificate expiration date and chain verification)</small></li>
		<li>Omdirigerer hjemmesiden usikre forbindelser til sikre forbindelser <small class="text-muted">(http redirects to https)</small></li>
	</ol>
	
	<hr />
	<h4>Symbolforklaring</h4>
	<ul class="list-inline">
		<li><i class="glyphicon glyphicon-lock text-success"></i> Forbindelsen til hjemmesiden er sikker</li>
		<li><i class="glyphicon glyphicon-flag text-danger"></i> Pas på! Forbindelsen til hjemmesiden er usikker. Tredjepart kan lytte med.</li>
	</ul>

	<hr />
	
	<div class="panel panel-default" ng-repeat="hostTest in indexController.hostTests | orderBy: 'host'">
		<div class="panel-body">
			<a href="http://{{hostTest.host}}" ng-if="!(hostTest.result)" class="text-danger">{{hostTest.host}}</a>
			<a href="https://{{hostTest.host}}" ng-if="hostTest.result === true" class="text-success">{{hostTest.host}}</a>
			<div class="pull-right">
	    		<i ng-class="{ 'glyphicon glyphicon-lock text-success': hostTest.result === true, 'glyphicon glyphicon-flag text-danger': hostTest.result === false }"></i>
	    	</div>
  		</div>
	</div>

	<script src="/js/angular.min.js"></script>
	<script>

		angular.module('hostTestApp', [])
			.controller('IndexController', ['HostTestService', IndexController])
			.service('HostTestService', ['$http', HostTestService])

			function HostTestService($http) {
				return {
					testHost: function(host) {
						return $http({
							method: 'get',
							url: '/__/proxy/api/host?host=' + host
						}).then(function(response) { 
							return response.data; 
						});
					}
				}
			}

			function IndexController(HostTestService) {
				this.hostTests = [
	                "www.liberalalliance.dk",
	                "www.konservative.dk",
	                "enhedslisten.dk",
	                "socialdemokraterne.dk",
	                "sf.dk",
	                "alternativet.dk",
	                "www.danskfolkeparti.dk",
	                "radikale.dk",
	                "www.venstre.dk"
	            ].map(function(host) {
	            	return {
	            		host: host,
	            		result: null
	            	}
	            });

	            this.hostTests.forEach(function(hostTest) {
		    		HostTestService.testHost(hostTest.host).then(function(result) {
		    			hostTest.result = result == "true";
		    		});
	            });
			}			

	</script>
</div>