<article class="article">
    <header class="header jumbotron">
        <div class="container">
            <h1>Hillerød Net Party</h1>
            <p>August 1999 to March 2002 (2 Years and 8 Months)</p>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h2>HNP Logo (1999)</h2>
            <p class="text-center"><img src="hilleroed-netparty-logo.jpg" alt="HNP Logo" class="img-responsive img-thumbnail" /></p>
        </div>        
    </section>
    <section class="section">
        <div class="container">    
            <h2>HNP Cafe Manager (1999)</h2>
            <p>We always had a cafe serving a wide variety of snacks, drinks and food at our parties, but when I joined HNP in 1999 we didn't have a system to track sales and invetory. I wanted to see if I could come up with a solution to our problem.</p>
            <p>The system would be used by a diverse group of people, and often in an intense environment, so it was important that the program was stable, easy to use and quick. I was convinced that if the solution didn't meet these fundamental needs, it would be a menace for the cafe staff, and ultimately it would not see the level of adaption needed for the program to be effective in the first place.</p>
            <p>I decided to go back to basics (literally), and I wrote a text based DOS application in COMAL80. The application consisted of a set of simple screens, each dedicated to a specific function in the cafe, and it used keyboard shortcuts extensively as well as visual menus to navigate from one screen to another.</p>
            <p>Here are the 4 most important screens.</p>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-center"><img src="hilleroed-netparty-cafe-home-screen.jpg" width="460" height="288" alt="HNP Cafe Manager - Home Screen" class="img-responsive img-thumbnail" /></p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center"><img src="hilleroed-netparty-cafe-order-screen.jpg" width="460" height="288" alt="HNP Cafe Manager - Order Screen" class="img-responsive img-thumbnail" /></p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center"><img src="hilleroed-netparty-cafe-statistics-screen.jpg" width="460" height="288" alt="HNP Cafe Manager - Statistics Screen" class="img-responsive img-thumbnail" /></p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center"><img src="hilleroed-netparty-cafe-inventory-management-screen.jpg" width="460" height="288" alt="HNP Cafe Manager - Invetory Management Screen" class="img-responsive img-thumbnail" /></p>
                </div>
            </div>
        </div>        
    </section>
    <section class="section">
        <div class="container">    
            <h2>HNP Web Site (2000)</h2>
            <p>I designed and developed the HNP Web Site in 2000. It was a simple frame based layout with inline stylesheet, javascript and extensive use of tables. In 2001 <a href="http://ole.michelsen.dk/" target="_blank" title="Ole Michelsen">Ole Michelsen</a> developed a new version of the website, and it is still in production today (2011).</p>
            <p class="text-center"><img src="hilleroed-netparty-web-site-home-page.jpg" width="950" height="600" alt="HNP Website - Home Page" class="img-responsive img-thumbnail" /></p>
        </div>
    </section>
</article>