<article class="article">
    <header class="header jumbotron">
        <div class="container">
            <h1>Fugl Limited</h1>
            <p>December 2009 to September 2010 (10 Months)</p>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h2>Business Cards</h2>
            <p>I started my own business in December 2009, and one of the first things I made was business cards. This is what I came up with.</p>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-center"><img src="fugl-limited-business-cards-front-v1.jpg" alt="Front" class="img-responsive img-thumbnail" /></p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center"><img src="fugl-limited-business-cards-back-v1.jpg" alt="Back" class="img-responsive img-thumbnail" /></p>
                </div>
            </div>
        </div>            
    </section>
    <section class="section">
        <div class="container">    
            <h2>Shopping Web Site</h2>
            <p>I developed a concept shopping web site powered by user generated content and by product listings from various affiliate networks (<a href="http://www.kelkoo.co.uk">Kelkoo</a>, Pricerunner, Ciao etc.).</p>
            <p>The community would maintain the Zaberu web site, by continuesly adding new/enhancing existing products, brands, personas etc. via the build in page editor on the web site. A Page consists of a Title, Description, Image and a list of searchable Attributes. Each Page is matched to product listings from the affiliate networks. Thus creating a personalised and community driven shopping experience.</p>
            <p class="text-center">
                <img src="zaberu-web-site-home-page-v2.jpg" width="950" height="880" alt="Home Page" class="img-responsive img-thumbnail" />
            </p>
        </div>
    </section>
</article>