<div class="post xfolkentry">
	<div class="postTitle">
		<h1><a href="/web/20091203140627/http://jonatanpedersen.com/post/Julia-Nunes-Live-in-London.aspx">Julia Nunes (Live in London)</a></h1>
	</div>
	<div class="description">
			<span>
			    
			        Tags: <a href="/web/20091203140627/http://jonatanpedersen.com/?tag=/julia+nunes" rel="tag">julia nunes</a>, <a href="/web/20091203140627/http://jonatanpedersen.com/?tag=/london" rel="tag">london</a>, <a href="/web/20091203140627/http://jonatanpedersen.com/?tag=/the+troubadour" rel="tag">the troubadour</a>, <a href="/web/20091203140627/http://jonatanpedersen.com/?tag=/crown+and+anchor" rel="tag">crown and anchor</a> | 
			    
                        Categories: <a href="/web/20091203140627/http://jonatanpedersen.com/category/Music.aspx">Music</a>
                        
			</span>
		Posted by <a href="/web/20091203140627/http://jonatanpedersen.com/author/Jonatan%20Pedersen.aspx">Jonatan Pedersen</a> on 
		11.01.2009 16:53 | 
		Comments (21)
	</div>
    <p><img src="/web/20091203140627im_/http://jonatanpedersen.com/image.axd?picture=2009%2f1%2fjulia_1.png" alt="" width="240" height="180" align="right">Julia Nunes, the energetic and life-affirming Uke playing singer/songwriter from New York, performed live at <a href="/web/20091203140627/http://www.troubadour.co.uk/">The Troubadour</a> on Friday Jan 9th and at the Crown and Anchor on Saturday the 10th.<br><br>The Troubadour is a small and intimate venue situated in Earls Court, and in their own words “a leading light in excellent musicianship and live music”. The Troubadour has previously hosted such prominent musicians as Bob Dylan, Jimi Hendrix, Joni Mitchell, Paul Simon and many more.</p><p>Julia absolutely smashed all expectations as she rocked both venues with great renditions of original songs from her two albums "Left Right Wrong" and "I Wrote these", and some of her more popular cover songs from YouTube.</p><p>I highly recommend <a href="/web/20091203140627/http://junumusic.com/">buying her albums</a> and by all means do watch her videos on <a href="/web/20091203140627/http://www.youtube.com/user/jaaaaaaa">YouTube</a>, but if you ever get the chance, do watch her <a href="/web/20091203140627/http://junumusic.com/calendar.php">live</a>.</p><p><a href="/web/20091203140627/htp://saharahcollective.com/">Sahara</a>&nbsp;opened for Nunes and delivered an astonishing composition of classical, tango and hip/hop music including their signature tune “Tango” written by Sarah Louise Ings. Sahara didn’t disappoint; but at the same time I can’t help thinking that this was an odd match with Nunes.</p>
    
	<div class="rating"><div class="rating"><p>Currently rated 4.0 by 6 people</p><ul class="star-rating small-star"><li class="current-rating" style="width:80%">Currently 4/5 Stars.</li><li><a href="javascript:void(Rate('039044c6-102c-49bf-9121-e814796eb445', 1))" rev="vote-against" title="Rate this 1 star out of 5" class="one-star">1</a></li><li><a href="javascript:void(Rate('039044c6-102c-49bf-9121-e814796eb445', 2))" rev="vote-against" title="Rate this 2 stars out of 5" class="two-stars">2</a></li><li><a href="javascript:void(Rate('039044c6-102c-49bf-9121-e814796eb445', 3))" rev="vote-abstain" title="Rate this 3 stars out of 5" class="three-stars">3</a></li><li><a href="javascript:void(Rate('039044c6-102c-49bf-9121-e814796eb445', 4))" rev="vote-for" title="Rate this 4 stars out of 5" class="four-stars">4</a></li><li><a href="javascript:void(Rate('039044c6-102c-49bf-9121-e814796eb445', 5))" rev="vote-for" title="Rate this 5 stars out of 5" class="five-stars">5</a></li></ul></div></div>
	<div class="share">
		<span>
		    <a rel="bookmark" href="/web/20091203140627/http://jonatanpedersen.com/post.aspx?id=039044c6-102c-49bf-9121-e814796eb445">Permalink</a> | 
		    <a rel="nofollow" href="/web/20091203140627/http://jonatanpedersen.com/syndication.axd?post=039044c6-102c-49bf-9121-e814796eb445">Comments RSS</a>
		</span>
		Share it: 
        <a rel="nofollow" href="mailto:?subject=Julia Nunes (Live in London)&amp;body=Thought you might like this: http://jonatanpedersen.com/post/Julia-Nunes-Live-in-London.aspx">E-mail</a> | 
        <a rel="nofollow" href="/web/20091203140627/http://www.dotnetkicks.com/submit?url=http%3a%2f%2fjonatanpedersen.com%2fpost%2fJulia-Nunes-Live-in-London.aspx&amp;title=Julia+Nunes+(Live+in+London)">Kick it!</a> | 
        <a rel="nofollow" href="/web/20091203140627/http://www.dzone.com/links/add.html?url=http%3a%2f%2fjonatanpedersen.com%2fpost%2fJulia-Nunes-Live-in-London.aspx&amp;title=Julia+Nunes+(Live+in+London)">DZone it!</a> | 
        <a rel="nofollow" href="/web/20091203140627/http://del.icio.us/post?url=http%3a%2f%2fjonatanpedersen.com%2fpost%2fJulia-Nunes-Live-in-London.aspx&amp;title=Julia+Nunes+(Live+in+London)">del.icio.us</a>      
	</div>
</div>