@import "bootstrap.min.css";
@import "monokai_sublime.css";
@import "socicon.less";
@import "font-awesome.min.css";

body {
	padding-top: 60px;
	font-size: 1.8em;
	color: #555;
}
.article .section {
	margin-top: 30px;
}

.img-responsive {
	display: inline-block;
}

p {
	margin-bottom: 1.5em;
}

.jumbotron h1 {
	margin-top: 0;
}

pre {
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
}

.breadcrumbs {
	margin-top: 60px;
}

ul.find-me-here {
	font-size: 22px;
	padding: 0;
}

ul.find-me-here > li {
	display: inline-block;
	margin: 5px;
	list-style: none;
}

.repositories {
	list-style: none;
	padding: 0;
	.repository {
		margin-bottom: 20px;
	
	}	
}

figure {
	display: inline-block;
	padding: 0.5em;
	margin-bottom: 1em;
	background-color: #f7f7f7;
}

ul.file-list {
	margin: 0;
	padding-left: 0;
	li {
		margin: 0.25em;
		list-style: none;
		ul {
			margin: 0;
			padding-left: 25px;
		}
	}
}

	hr.page-break {
		border: none;
		margin: 0;
		padding: 0;
		page-break-after: always;
	}

@media print {

	article {
		width: 21cm;
	}

	body {
		margin: 0;
		padding: 0;
	}


  a[href]:after {
    content: none !important;
  }
}

.contagious {
	margin: 30px 0;
}