<div class="contact">
  <div class="container">
    <div class="page-header">
      <h1>Contact</h1>
      <p class="lead">Ask me anything...</p>
    </div>
    <form name="form" novalidate ng-submit="submit()" ng-app="contact" ng-controller="contact">
      <div class="form-group">
        <label>Name <span class="required">*</span></label>
        <input class="form-control" ng-model="contact.name" required />
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" ng-model="contact.email" />
      </div>
      <div class="form-group">
        <label>Subject <span class="required">*</span></label>
        <input class="form-control" ng-model="contact.subject" required />
      </div>    
      <div class="form-group">
        <label>Body <span class="required">*</span></label>
        <textarea class="form-control" ng-model="contact.body" required></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Submit</button>
      </div>    
    </form>
  </div>
</div>