<article class="article">
    <header class="header jumbotron">
        <div class="container">
            <h1>Den Tatoverede Enke</h1>
            <p>2011 (3 Months)</p>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h2>Website</h2>
            <p>I developed a website for local gastro-pub <a href="http://dentatoveredeenke.dk">Den Tatoverede Enke.</a></p>
            <p class="text-center">
                <img src="den-tatoverede-enke-website.jpg" width="950" height="880" alt="Home Page" class="img-responsive img-thumbnail" />
            </p>
        </div>
    </section>
</article>