<% if(current.path.length > 1) { %>
<nav class="breadcrumbs hidden-print">
	<div class="container">		
		<ul class="breadcrumb">
		<% 
			var meta = public;
			var slug = '/';

			for(var i = 0; i < current.path.length; i++) {
				if (meta._data != undefined) {
					var title2 = meta._data['index'].title;	

					if (i == current.path.length - 1) {
						%><li class="active"><%= title2 %></ul><%
					} else {
					%>
						<li>
							<a href="<%= slug %>"><%= title2 %></a>
						</li>
					<% 
					}
				}

				slug = slug + current.path[i] + '/';
				meta = meta[current.path[i]];					
			}
		%>
    	</ul>  
	</div>		
</nav>
<% } %>