<html>
<head>
	<meta charset="UTF-8">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />	
	<meta name="viewport" content="width=device-width, user-scalable=yes">
	<link rel="author" href="humans.txt" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed" />
</head>
<body>
  	<%- yield %>
  	<link href="/css/main.css" rel="stylesheet" async>
	
	<%- partial('_stylesheets') %>

	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">Jonatan Pedersen</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse navbar-responsive-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/blog/">Blog</a></li>
					<li><a href="/portfolio/">Portfolio</a></li>
					<li><a href="/about/">About</a></li>
				</ul>
			</div>			
		</div>
	</div>

	<%- partial('_breadcrumb') %>

	<footer class="footer hidden-print">
		<div class="container">		
			<hr/>
			<p>&copy; <%= new Date().getFullYear() %> Jonatan Pedersen</p>
		</div>		
	</footer>
	
	<script src="/js/jquery.js" async></script>
	<script src="/js/bootstrap.min.js" async></script>
	<script src="/js/highlight.min.js" async></script>
	<script src="/js/main.js"></script>

	<%- partial('_javascripts') %>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-28366544-1', 'auto');
	  ga('send', 'pageview');

	</script>	
</body>
</html>