article.article
  .container
    header.header
      h1 Hello
      p.lead I’m awesome and so are you
      img(
        src='jonatan-pedersen-thumbs-up.jpg'
        width='1140' 
        height='641' 
        class='img-responsive'
      )

    h2 Featured Projects
    p Open source projects on GitHub that i've worked on lately.
    ul.repositories
      each repository in public._data.profile.repositories
        li.repository
          a(href=repository.html_url)
            
            strong= repository.name
          br
          = repository.description