<article class="article">
    <header class="header jumbotron">
        <div class="container">
            <h1>Vodafone</h1>
            <p>September 2010 to April 2011 (8 Months)</p>
        </div>
    </header>
    <section class="section">
        <div class="container">
        
            <h2>Vodafone 360 Registration</h2>
            <p>I helped deliver a new and simple registration flow for Vodafone 360 with the purpose of increasing sign up conversion.</p>
            <p class="text-center"><img src="registration.jpg" alt="Vodafone 360 Registration Form" width="950" height="960" class="img-responsive img-thumbnail" /></p>
        </div>            
    </section>
    <section class="section">
        <div class="container">
            <h2>Vodafone 360 Photos</h2>
            <p>I helped facilitate the delivery of an enhanced photo browsing experience on Vodafone 360.</p>
            <p class="text-center"><img src="photos-slideshow-view.jpg" alt="Vodafone 360 Photos Section" width="950" height="720" class="img-responsive img-thumbnail" /></p>
        </div>
    </section>
</article>