article.article
  header.header
    .container
      h1 Hello
      p.lead I’m awesome and so are you
  
  section.section
    .container
      .row
        .col-sm-3
          p.text-center
            img(src='jonatan-pedersen-portrait.jpg', class='img-responsive img-thumbnail')
        .col-sm-9
          p I am full-stack developer, architect, Product Owner and ScrumMaster with more than twelve years experience in the internet industry.
          p I have a great passion for technology, and I spend a great deal of my time studying software architecture, design patterns and best practices (SOLID, DDD, CQRS, pair programming), test automation (NUnit and Selenium), continuous integration (CruiseControl and Bamboo) and languages, frameworks, libraries and tools (JavaScript, HTML, CSS, C#, .NET, Bootstrap, Knockout, AngularJS, Node, Bower and Gulp to name a few).
          p I have worked in global conglomerates and tiny startups, and I have lived and worked in London for four years. I have worked Scrum projects as Product Owner for Yahoo! and Vodafone, and as Developer and ScrumMaster for Jobzonen, Edora and Capevo, and I have worked water fall projects as a Product Development Manager for Yahoo!, done market research, written product requirements and specifications.
          .row
            .col-md-6
              h2 Find me here
              ul.find-me-here
                li                
                  a(href='https://twitter.com/jonatanpedersen' title='Twitter')
                    i.socicon.socicon-twitter
                li
                  a(href='https://github.com/jonatanpedersen' title='GitHub')
                    i.socicon.socicon-github
                li                      
                  a(href='http://www.linkedin.com/in/jonatanpedersen' title='LinkedIn')
                    i.socicon.socicon-linkedin
                li                      
                  a(href='https://www.facebook.com/jonatanpedersen' title='Facebook')
                    i.socicon.socicon-facebook
                li                      
                  a(href='http://www.pinterest.com/jonatanpedersen/' title='Pinterest')
                    i.socicon.socicon-pinterest
                li                      
                  a(href='https://www.tumblr.com/blog/jonatanpedersen' title='Tumblr')
                    i.socicon.socicon-tumblr
                li                      
                  a(href='http://steamcommunity.com/id/hudskin/' title='Steam')
                    i.socicon.socicon-steam
                li                      
                  a(href='https://www.flickr.com/photos/jonatanpedersen/' title='Flickr')
                    i.socicon.socicon-flickr
                li                      
                  a(href='https://foursquare.com/jonatanpedersen' title='Foursquare')
                    i.socicon.socicon-foursquare
            .col-md-6 
              h2 Made with
              ul
                li
                  a(href='https://www.cloudflare.com/' title='CloudFlare') CloudFlare
                li
                  a(href='https://codeship.com/' title='CodeShip') CodeShip
                li
                  a(href='https://divshot.com/' title='DivShot') DivShot
                li
                  a(href='http://harpjs.com/' title='Harp') Harp
                li
                  a(href='http://www.sublimetext.com/' title='SublimeText') SublimeText