<article class="article">
    <header class="header jumbotron">
        <div class="container">
            <h1>Mette Fugl</h1>
            <p>2014 (1 day)</p>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h2>Website</h2>
            <p>I developed a <a href="http://www.mettefugl.com" title="Mette Fugl">website</a> for my aunt <a href="http://da.wikipedia.org/wiki/Mette_Fugl">Mette Fugl</a> for the release of her mémoire "Fra Koncepterne".</p>
            <p class="text-center">
                <img src="mette-fugl-website.jpg" width="1152" height="984" alt="Mette Fugl" class="img-responsive img-thumbnail" />
            </p>
        </div>
    </section>
</article>