article.acticle
	header.header
		.container
			p.contagious.text-right
				a(href='Curriculum Vitae for Jonatan Pedersen.pdf', class='btn btn-default btn-sm hidden-print') Download (pdf)
			!= current.yield = partial('_contents')
			p.contagious.text-right
				a(href='Curriculum Vitae for Jonatan Pedersen.pdf', class='btn btn-default btn-sm hidden-print') Download (pdf)