- var posts = Object.keys(public.blog).filter(function(key) {return !(key[0] == '_'); }) .map(function(key) {return {key: key, value: public.blog[key] }; }) .sort(function(a, b) {var c = a.value._data.index.date.localeCompare(b.value._data.index.date); return c; }) .reverse();

article.acticle
  header.header
    .container
      h1= title
      p.lead= description

  section.section
    .container
      .posts
        each post in posts
          .post
            h2
              a(href=post.key)= post.value._data.index.title
            p.small= 'Posted on ' + post.value._data.index.date
            p= post.value._data.index.description
            p.text-right
              a(href='/blog/' + post.key) Continue reading... 