<article>
    <header class="jumbotron">
        <div class="container">
            <h1><%= title  %></h1>
            <p><%= description %></p>
        </div>
    </header>
    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-6">
                    <p>
                        <a href="/portfolio/mette-fugl/" title="Mette Fugl">
                            <img src="/portfolio/mette-fugl/mette-fugl.jpg" alt="Mette Fugl" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>               
                <div class="col-sm-3">
                    <p>
                        <a href="/portfolio/den-tatoverede-enke/" title="Den Tatoverede Enke">
                            <img src="/portfolio/den-tatoverede-enke/den-tatoverede-enke.jpg" alt="Den Tatoverede Enke" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>          
                <div class="col-sm-3">
                    <p>
                        <a href="/portfolio/jobzonen/" title="Jobzonen">
                            <img src="/portfolio/jobzonen/jobzonen.jpg" alt="Jobzonen" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>   
                <div class="col-sm-3">
                    <p>
                        <a href="/portfolio/vodafone/" title="Vodafone">
                            <img src="/portfolio/vodafone/vodafone.jpg" alt="Vodafone" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>  
                <div class="col-sm-3">
                    <p>
                        <a href="/portfolio/fugl/" title="Fugl">
                            <img src="/portfolio/fugl/fugl.jpg" alt="Fugl" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>                   
                <div class="col-sm-3">
                    <p>
                        <a href="/portfolio/kelkoo/" title="Yahoo">
                            <img src="/portfolio/kelkoo/kelkoo.jpg" alt="Yahoo" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>
            </div>
        </section>
        <section>
            <h3>10+ years ago</h3>
            <div class="row">
                <div class="col-sm-2">
                    <p>
                        <a href="/portfolio/sandberg/" title="Sandberg">
                            <img src="/portfolio/sandberg/sandberg.jpg" alt="Sandberg" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>                   
                <div class="col-sm-2">
                    <p>
                        <a href="/portfolio/hilleroed-netparty/" title="Hillerød NetParty">
                            <img src="/portfolio/hilleroed-netparty/hilleroed-netparty.jpg" alt="Hillerød NetParty" class="img-responsive img-thumbnail" />
                        </a>
                    </p>
                </div>
            </div>
        </section>
    </div>
</article>