<article class="article">
    <header class="jumbotron">
        <div class="container">
            <h1>Sandberg</h1>
            <p>Februar 2003 to May 2003 (3 Months)</p>
        </div>
    </header>
    <section class="section">
        <div class="container">
            <h2>Label Printer (2003)</h2>
            <p>I was contracted by Sandberg in 2003 to develop a web based solution that would allow them to print their product labels from any location, whether on the road, in a store or in their warehouse.</p>
            <p>I came up with a solution that use an ActiveX component that I wrote in VB6 to print labels (product name, model number, EAN13 barcode and price) for products that had been added to a printer queue via a web interface that i wrote in ASP.</p>
            <p>The solution allowed Sandberg to maintain a consistent branding while providing flexibility for retailers, sales force and warehouse workers.</p>
            <div class="row">
                <div class="col-sm-6">
                    <p class="text-center"><img src="sandberg-page-and-label-setup.jpg" width="950" height="820" alt="Sandberg Page and Label Setup" class="img-responsive img-thumbnail" /></p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center"><img src="sandberg-print-labels.jpg" width="950" height="420" alt="Sandberg Labels" class="img-responsive img-thumbnail" /></p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center"><img src="sandberg-printer-component.jpg" width="950" height="280" alt="Sandberg Printer Component" class="img-responsive img-thumbnail" /></p>
                </div>
            </div>
        </div>
    </section>
</article>